{% load bootstrap %}
{% load add_css_class %}
{% load i18n %}
{% load staticfiles %}
{% load fir_plugins %}
{% load index %}
{% load gethash %}


<div class="container-fluid">
  <div class="row-fluid" style="text-align: center">
    <div class="col-xs-12">
        <div style="display: block">
          <p id="copyright-notice">© 2018 CERN Computer Security Team</p>
        </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-xs-6 footer-item">
      <img class="hidden-xs hidden-sm logo-bottom"
           src="{% static 'userinteraction/img/authorized-cert.png' %}"
           alt="CERT Logo">
        <p style="float:left; margin: 0">
          e-mail: <a href="mailto:Computer.Security@cern.ch">Computer.Security@cern.ch</a> <br>
          Phone: +41 22 767 0500 <br>
          (Please listen to the recorded instructions.)
          </p>
    </div>
    <div class="col-xs-6 footer-item">
      <p style="float: right">
      Please use the following PGP key to encrypt messages sent to <br>
      CERN Computer Security Team ( <a href="mailto:Computer.Security@cern.ch">Computer.Security@cern.ch </a>)<br>
      429D 6046 0EBE 8006 B04C DF02 954C E234 B4C6 ED84
      </p>
    </div>
  </div>
</div>
