<div class="panel-body">
    <ul class="list-group">
        {% for quiz in quizzes %}
        <li class="list-group-item">
            <h4>Event: <a href="{% url 'userinteraction:quiz-by-incident' quiz.incident_id %}">{{quiz.incident}}</a></h4>

            <span><b>Category:</b> {{quiz.template.category}} | <b>Answered:</b>
                {% if quiz.is_answered %}
                    <span class="badge threatcon-1" style="float: none !important">{{quiz.is_answered}}</span>
                {% else %}
                    <span class="badge threatcon-4" style="float: none !important">{{quiz.is_answered}}</span>
                {% endif %}

                <br>
                <span> <b>Concerned entities:</b>
                    {% for bl in quiz.incident.concerned_business_lines.all %}
                    <span class="badge threatcon-2" style="float: none !important"> {{ bl }} </span>
                    {% endfor %}
                </span>
            </span>




            <span class="badge">Date opened: {{quiz.incident.date | date:"Y-m-d H:i:s"}}</span>
            <span class="badge threatcon-{{quiz.incident.severity}}"> Severity:{{quiz.incident.severity}}           </span>
        </li>
        {% endfor %}
    </ul>

</div>