{% extends "userinteraction/base_user_interaction.html" %}
{% load i18n %}
{% load staticfiles %}

{% block custom_css %}
<style>
  h1 { font-size: 50px; }
  article { display: width: 650px; margin: 0 auto; text-align: center; padding: 15px; font: 20px Helvetica, sans-serif; color: #333; }
  article a:hover { text-decoration: none; }
</style>
{% endblock %}

{%block title%}{% trans "404" %}{%endblock%}
{% block content %}
<article>
    <img alt="{% trans '404' %}" src="{% static 'userinteraction/img/404.jpg' %}">
    <h1>{% trans "Not Found" %}</h1>
<p>{% trans "We were not able to access the resource that you requested. Please try again." %}</p>
</article>
{% endblock %}
