{% extends "userinteraction/base_user_interaction.html" %}
{% load bootstrap %}
{% load add_css_class %}
{% load i18n %}
{% load staticfiles %}
{% load fir_plugins %}
{% load index %}
{% load gethash %}

{% block custom_css %}
<link href="{% static 'userinteraction/custom_css/quiz.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-7 col-md-push-2">
            <a href="https://home.cern">
                <img src="{% static 'userinteraction/img/logo.jpg' %}" style="max-width: 100px; float: left; display: inline-block; margin-right: 10px; padding: 10px">
            </a>
            <h1 class="quiz-title">
                <span>CERN Computer Security incidents assigned to you:</span>
            </h1>
            <hr style="margin-bottom: 30px;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseOne">Action required</a>
                        <span class="badge" style="float: right !important">Incidents: {{ blocked | length}}</span>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse {% if blocked %} in {% endif %}">
                    {% include "userinteraction/widgets/quiz-list-panel.html" with quizzes=blocked %}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseTwo">Ongoing</a>
                        <span class="badge" style="float: right !important">Incidents: {{ opened | length }}</span>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse {% if opened %} in {% endif %}">
                    {% include "userinteraction/widgets/quiz-list-panel.html" with quizzes=opened %}
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseThree">Closed</a>
                        <span class="badge" style="float: right !important">Incidents: {{ closed | length }}</span>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    {% include "userinteraction/widgets/quiz-list-panel.html" with quizzes=closed %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
