{% extends "base.html" %}
{% load bootstrap %}
{% load add_css_class %}
{% load i18n %}
{% load staticfiles %}
{% load fir_plugins %}
{% load index %}

{% block custom_css %}
<link href="{% static 'custom_css/quiz.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1">

            <!--Comment these out for now-->
            <!--<input type="button" class="btn btn-primary" value="Get Spam quiz"-->
            <!--onclick="location.href='{% url 'userinteraction:quiztemplate' %}?type=spam'">-->
            <!--<input type="button" class="btn btn-primary" value="Get Malware quiz"-->
            <!--onclick="location.href='{% url 'userinteraction:quiztemplate' %}?type=malware'">-->

            {% if thanks %}
            <div class="alert alert-info"><p>{{thanks}}</p></div>
            <hr>
            {% endif %}

            {% if quiz %}
            <h1 class="quiz-title">What has been detected?</h1>
            <p>CERN computer security checks have detected malicious activity on your device. This is a strong
                indication that your
                device has been infected, broken into and compromized.</p>


            <h2>Incident: <b>{{ quiz.incident }}, </b>ID: <b>{{quiz.incident.id}}</b></h2>
            <h2>Category: <b>{{ quiz.template.category }}</b></h2>
            <h2>Quiz template name: <b>{{ quiz.template.name }}</b></h2>

            <hr>
            <h2 class="activity-details">Activity details: </h2>
            <div class="well">
                {{quiz.incident.description}}
            </div>

            <hr>
            {% endif %}

            <form action="{% url 'userinteraction:quiz' quiz.id %}" role="form" class="form-vertical" method="post">
                {% csrf_token %}
                {% for form in formsets %}
                <legend class="quiz-title">{{names | index:forloop.counter}}</legend>
                {{form|bootstrap }}
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}