.quiz-title {
    margin-top: 7px;
    color:  #0053A1;
    font-size: 36px;
    font-weight: bold;
}

.form-question-group {
    text-transform: none;
    color:  #0053A1;
    font-size: 18px;
}



.activity-details {
    color: #0053A1;
}

.activity-details-info {
    background-color: white;
}

.cern-info-text {
    font-size: 14px;
    text-transform: none;
}

.list-issues-link {
    padding-left: 0 !important;
}

.user-comment {
    font-size: 14px;
}

.badge.badge-ui {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 100;
    font-size: 14px;
}

.quiz-list-group {
    margin: 0;
}

.incident-title {
    font-size: 20px;
    text-transform: none;
    margin-top: 2px;
}

.menu-header {
    text-transform: none;
    color: #0053A1;
    font-weight: bold;
}

label>span {
    font-size: 14px;
}





.ui-sidebar {
    /*font-family: Verdana;*/
    font-size: 16px;
    float:left;
    width: 25%;
}

.no-side-padding {
    padding-left: 10px;
    padding-right: 0;
}


.non-mobile-menu {
    display: block;
}

.mobile-menu {
    display: none;
}
.content-holder {
    width: 75%; float: left;
}

body {
    padding-top: 5px;
    /*background: url('/static/userinteraction/img/ui-background.png') 0px 0px repeat;*/
    font-size: 14px;
}


.incident-panel-head {
    cursor: pointer;
}
.incident-panel-head>.panel-title{
    cursor: pointer !important;
    text-transform: none;
    font-size: 20px;
}

.badge-ui {
    white-space: unset;
}

.cern-grey-panel {
    background-color: #f5f5f5;
}


.footer-item {
    text-align: center;
}

.ui-footer {
    line-height: 1;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.ui-footer-content  {
    background-color: #EEE;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
}

.ui-footer-content>.container-fluid  {
    padding-left: 0;
    padding-right: 0;
}

.logo-bottom {
    float: left;
    padding-bottom: 5px;
    margin-top: -10px;
}


@media screen and (min-width: 768px) and (max-width: 1320px) {
    .content-holder {
        width: 75%;
    }

}

@media screen and (min-width: 992px) {
    body {
        padding-bottom: 70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-bottom: 125px;
       }
}

@media screen and (max-width: 767px) {
    .content-holder {
        width: 99% !important;
    }


    .ui-footer {
        position: relative;
        font-size: 10px;
    }

    #security-logo {
        display: none;
    }

    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .ui-sidebar {
        width: 100%;
        float: none;
        background-color: #E8E8E8;
    }

    .mobile-menu {
        display: block;
    }

    .non-mobile-menu {
        display: none;
    }

    .show-menu-btn {
        background-color: #337ab7;
    }

    .quiz-title {
        float: left;
    }

    .mobile-friendly {
        float: left;
    }

    .container-fluid {
        padding: 0;
    }
}

.quiz-useful-link {
    position: relative !important;
    display: block !important;
    padding: 10px 15px;
}

.quiz-useful-link:hover {
    text-decoration: none !important;
    background-color: #eee !important;
}

