.quiz-title {
    color:  #0053A1;
    font-size: 4em;
}

.form-question-group {
    text-transform: none;
    color:  #0053A1;
}

.quiz-title-red {
    color: #a94442;
    font-size: 3.5em;
}

.quiz-title-red-small {
    font-size: 2em;
}

.activity-details {
    color: #0053A1;
}

.activity-details-info {
    background-color: white;
}
.cern-info-text {
    font-size: 1.3em;
    text-transform: none;
}



.user-display {
    font-size: 22px;
}

.badge.badge-ui {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 100;
    font-size: 1.2em;
}

.quiz-list-group {
    margin: 0;
}

.incident-title {
    font-size: 1.4em;
    text-transform: none;
    margin-top: 2px;
}

.menu-header {
    text-transform: none;
    color: #0053A1;
    font-weight: bold;
}

label>span {
    font-size: 1.5em;
}


.ui-sidebar {
    font-family: Verdana;
    font-size: 16px;
    float:left;
    width: 25%;
}



.content-holder {
    width: 75%; float: left;
}

body {
    padding-top: 5px;
    background: url('/static/userinteraction/img/ui-background.png') 0px 0px repeat;
}


.incident-panel-head {
    cursor: pointer;
}
.incident-panel-head>.panel-title{
    cursor: pointer !important;
    text-transform: none;
}

.badge-ui {
    white-space: unset;
}

.cern-grey-panel {
    background-color: #f5f5f5;
}

@media screen and (min-width: 768px) and (max-width: 1320px) {
    .content-holder {
        width: 60%;
    }

}

@media screen and (max-width: 767px) {
    .content-holder {
        width: 99% !important;
    }

    #security-logo {
        display: none;
    }

    body {
        padding-top: 0px;

    }

    .ui-sidebar {
        width: 100%;
        float: none;
        margin-left: 0;
        background-color: #E8E8E8;
    }

    .show-menu-btn {
        background-color: #337ab7;
    }

    .quiz-title {
        float: left;
    }

    .mobile-friendly {
        float: left;
    }
}

.quiz-useful-link {
    position: relative !important;
    display: block !important;
    padding: 10px 15px;
}

.quiz-useful-link:hover {
    text-decoration: none !important;
    background-color: #eee !important;
}

