/*input {
    display: block;
}

input[type=checkbox] {
    float: left;
    margin-right: 10px;
}

label {
    width: 90%;
}

textarea {
    display: block
}

.errorlist {
    color: red;
    font-weight: bold;
}*/

.quiz-title {
    color: #47749E ;
}

.activity-details {
    color: #5A93C9;
}


.user-display {
    font-size: 22px;
    padding: 2px;
}